# Default ignored files
/shelf/
/workspace.xml
# Datasource local storage ignored files
/../../../../../../../:\Work\workspace\workspace_idea\beginning_rust_programming\life\.idea/dataSources/
/dataSources.local.xml
